@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left, #D1FFED, #AAEBD2 );
    margin-top: 40px;
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #1f332bcc;
    width: 600px;
    padding: 20px;
    margin: auto;  
}

h1{
    color: #9E5F52;
    text-align: center;
    text-shadow: 1px 1px 2px #55322b;

}

h2{
    color: #629E87;
}

p{
    text-align: justify;
}